{
  "openapi": "3.1.0",
  "info": {
    "title": "National Weather Service active state alerts",
    "version": "1.0.0",
    "description": "Read-only subset of the NWS API for US state and territory alerts."
  },
  "externalDocs": {
    "url": "https://www.weather.gov/documentation/services-web-api"
  },
  "servers": [
    {
      "url": "https://api.weather.gov"
    }
  ],
  "paths": {
    "/alerts/active/area/{area}": {
      "parameters": [
        {
          "name": "area",
          "in": "path",
          "required": true,
          "description": "US state or territory postal code",
          "schema": {
            "enum": [
              "AL",
              "AK",
              "AS",
              "AR",
              "AZ",
              "CA",
              "CO",
              "CT",
              "DE",
              "DC",
              "FL",
              "GA",
              "GU",
              "HI",
              "ID",
              "IL",
              "IN",
              "IA",
              "KS",
              "KY",
              "LA",
              "ME",
              "MD",
              "MA",
              "MI",
              "MN",
              "MS",
              "MO",
              "MT",
              "NE",
              "NV",
              "NH",
              "NJ",
              "NM",
              "NY",
              "NC",
              "ND",
              "OH",
              "OK",
              "OR",
              "PA",
              "PR",
              "RI",
              "SC",
              "SD",
              "TN",
              "TX",
              "UT",
              "VT",
              "VI",
              "VA",
              "WA",
              "WV",
              "WI",
              "WY",
              "MP",
              "PW",
              "FM",
              "MH"
            ],
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "alerts_active_area",
        "summary": "List active weather alerts for a US state or territory",
        "tags": [
          "alerts"
        ],
        "responses": {
          "200": {
            "description": "GeoJSON FeatureCollection. Each feature contains properties.event, severity, headline, areaDesc, sent, expires, description and instruction. An empty features array means no active alerts for this area.",
            "content": {
              "application/geo+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "features": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
